@import url("../fonts/index.scss");

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Circular", "Helvetica", "Arial", sans-serif;
  line-height: 1.45;
  background-color: #ffffff;
  text-align: left;
}
