body {
  --primary: #15161c;
  --background: #f6f8f9;
  --text: #15161c;
  --subtitle: #696b79;

  --success: #2ecc71;
  --error: #e74c3c;
  --danger: #e74c3c;
  --warning: #ed8936;
  --info: #2091dc;

  --inputBorder: #dde2ec;
}
